#root {
  display: flex;
  justify-content: center;
}
.App {
  display: flex;
  /* height: 1vh; */
  justify-content: center;
  flex-direction: column;
}

.field {  
  width: 450px;
  height: 450px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}
.cell {
  width: 120px;
    height: 120px;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
    align-items: stretch;
    justify-items: baseline;
}
.button {
  border: 2px solid #000000;
  display:inline-block;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  text-align: center;
  font-weight:400;
  color:#000000;
  cursor:pointer;
}